.vega-clock {
  font-size: 24px;
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
  border: 1px solid #5e97ff;
  border-radius: 5px;
  color: #5e97ff;
}

.vega-clock span {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #f2f2f2;
}

/*DROPZONE*/
.dz-image img {
  width: 100%;
  margin-top: -12px;
}

.navbar {
  background-color: #1e292e !important;
}
.body {
  min-height: 1000px;
  background-color: #1e292e !important;
}